<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="traceeFactory"
		  class="io.tracee.Tracee"
		  factory-method="getBackend" />

	<bean id="traceeFilterConfiguration"
		  class="io.tracee.testhelper.PermitAllTraceeFilterConfiguration"
		  factory-method="instance" />

	<bean id="controller"
		  class="io.tracee.binding.springmvc.TraceeInterceptorIT.SillyController"/>

	<mvc:interceptors>
		<bean id="traceeInterceptor" class="io.tracee.binding.springmvc.TraceeInterceptor">
		</bean>
	</mvc:interceptors>

</beans>
