<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:sws="http://www.springframework.org/schema/web-services"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/web-services
      http://www.springframework.org/schema/web-services/web-services-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="io.tracee.binding.springws.itest"/>

	<sws:annotation-driven/>
	<sws:interceptors>
		<bean id="traceeEndpointInterceptor" class="io.tracee.binding.springws.TraceeEndpointInterceptor"/>
	</sws:interceptors>

	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>io.tracee.binding.springws.itest.testservice.TraceeEntryMethod</value>
				<value>io.tracee.binding.springws.itest.testservice.TraceeEntryResponse</value>
			</list>
		</property>
	</bean>

	<!-- Marshaller for unmarshalling incoming xml objects to POJOs-->
	<bean class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor">
		<constructor-arg ref="jaxb2Marshaller"/>
	</bean>
</beans>
